$submarketOne: #C7024E;
$submarketTwo: #043C30;
$submarketThree: #80CDC1;
$submarketFour: #F37B74;
$submarketFive: #BF812D;
$submarketSix: #8C510A;
$submarketSeven: #6EA1C9;

$color_bg-purple: #482C78;
$color_highlight-purple:#9F7BB7;
$color_accent-purple: #D4C6EA;
$color_font-gray: #707070;
$color_font-white: #FFFFFF;
$color_bg-gray: #F0EFE7;

$Calibre: 'Calibre', sans-serif;
$SwiftNeueLTPro: 'SwiftNeueLTPro', serif;
